{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<script type="text/javascript" src="../js/calendar.php"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<!-- 订单搜索 -->
<div class="form-div">
  <form action="javascript:searchOrder()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    {$lang.label_delivery_sn}<input name="delivery_sn" type="text" id="delivery_sn" size="15">
    {$lang.order_sn}<input name="order_sn" type="text" id="order_sn" size="15">
    {$lang.consignee|escape}<input name="consignee" type="text" id="consignee" size="15">
	{$lang.return_time}<input type="text" name="start_time" maxlength="60" size="20" readonly="readonly" id="start_time_id" />
      <input name="start_time_btn" type="button" id="start_time_btn" onclick="return showCalendar('start_time_id', '%Y-%m-%d %H:%M', '24', false, 'start_time_btn');" value="{$lang.btn_select}" class="button"/>
      ~      
      <input type="text" name="end_time" maxlength="60" size="20" readonly="readonly" id="end_time_id" />
      <input name="end_time_btn" type="button" id="end_time_btn" onclick="return showCalendar('end_time_id', '%Y-%m-%d %H:%M', '24', false, 'end_time_btn');" value="{$lang.btn_select}" class="button"/> 
    <input type="submit" value="{$lang.button_search}" class="button" />
  </form>
</div>

<!-- 订单列表 -->
<form method="post" action="order.php?act=operate" name="listForm" onsubmit="return check()">
  <div class="list-div" id="listDiv">
{/if}

<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
      <input onclick='listTable.selectAll(this, "back_id")' type="checkbox"/><a href="javascript:listTable.sort('delivery_sn', 'DESC'); ">编号</a>
    </th>
    <th style="display:none"><a href="javascript:listTable.sort('order_sn', 'DESC'); ">商品编号</a></th>
    <th><a href="javascript:listTable.sort('add_time', 'DESC'); ">商品名称</a>{$sort_add_time}</th>
    <th><a href="javascript:listTable.sort('consignee', 'DESC'); ">所属用户</a>{$sort_consignee}</th>
    <th><a href="javascript:listTable.sort('consignee', 'DESC'); ">所属订单</a>{$sort_consignee}</th>
    <th><a href="javascript:listTable.sort('update_time', 'DESC'); ">退单时间</a></th>
    <th>退货数量</th>
    <th>订单处理</th>
    <th>{$lang.handler}</th>
  <tr>
  {foreach from=$back_list item=back key=dkey}
  {if $record_count gt 0}
  <tr>
    <td valign="top" nowrap="nowrap"><input type="checkbox" name="back_id[]" value="{$back.back_id}" />{$back.back_id}</td>
    <td align="center" style="display:none">{$back.goods_sn}<br /></td>
    <td align="center" valign="top" nowrap="nowrap">{$back.goods_name}</td>
    <td align="center" valign="top" nowrap="nowrap">{$back.user_name}</td>
    <td align="left" valign="top"><a href="mailto:{$back.email}">{$back.order_sn}</a></td>
    <td align="center" valign="top" nowrap="nowrap">{$back.return_time}</td>
    <td align="center" valign="top" nowrap="nowrap" style="display:none;">{$back.return_time}</td>
    <td align="center" valign="top" nowrap="nowrap">{$back.send_number}</td>
    <td align="center" valign="top" nowrap="nowrap">
    	{if $back.deal_sale_return_status eq 1}
        	{$lang.sale_return_status_yes}
        {else}
        	{$lang.sale_return_status_no}
        {/if}
    </td>
    <td align="center" valign="top"  nowrap="nowrap">
     <a href="order.php?act=back_info&back_id={$back.back_id}&deal_sale_return_status={$back.deal_sale_return_status}">{$lang.detail}</a>
    <!-- <a onclick="{if(confirm('{$lang.confirm_delete}')){return true;}return false;}" href="order.php?act=operate&remove_back=1&back_id={$back.back_id}">{$lang.remove}</a>-->
    </td>
  </tr>
  {/if}
  {/foreach}
</table>

<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

{if $full_page}
  </div>
  <div>
    <input name="remove_back" type="submit" id="btnSubmit3" value="{$lang.remove}" class="button" disabled="true" onclick="{if(confirm('{$lang.confirm_delete}')){return true;}return false;}" />
  	<input name="print_back" type="submit" id="btnSubmit4" value="{$lang.print_order}" class="button" disabled="true" onclick="this.form.target = '_blank'" />
  </div>
</form>
<script language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}

    onload = function()
    {
        // 开始检查订单
        startCheckOrder();
                
        //
        listTable.query = "back_query";
    }

    /**
     * 搜索订单
     */
    function searchOrder()
    {
        listTable.filter['order_sn'] = Utils.trim(document.forms['searchForm'].elements['order_sn'].value);
        listTable.filter['consignee'] = Utils.trim(document.forms['searchForm'].elements['consignee'].value);
                listTable.filter['delivery_sn'] = document.forms['searchForm'].elements['delivery_sn'].value;
        listTable.filter['page'] = 1;
                listTable.query = "back_query";
        listTable.loadList();
    }

    function check()
    {
      var snArray = new Array();
      var eles = document.forms['listForm'].elements;
      for (var i=0; i<eles.length; i++)
      {
        if (eles[i].tagName == 'INPUT' && eles[i].type == 'checkbox' && eles[i].checked && eles[i].value != 'on')
        {
          snArray.push(eles[i].value);
        }
      }
      if (snArray.length == 0)
      {
        return false;
      }
      else
      {
        eles['order_id'].value = snArray.toString();
        return true;
      }
    }
</script>
{/literal}

{include file="pagefooter.htm"}
{/if}